@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: outfit;
}
/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  height: 500px;
  background: linear-gradient(to right, #8E2DE2, #4A00E0);
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#x{
    cursor: pointer;
    width: 25px;
    position: relative;
    top: -33%;
    left: 45%;
    border-radius: 50%;
    background-color: white;
}
.fade h3{
   margin-top: 15px;
}
.mySlides{
    display: none;
}

.btn{
    position: relative;
    top: 38%;
    left: 35%;
}
/* Next & previous buttons */
.prev, .next {
  background: transparent;
  cursor: pointer;
  position: relative;
  margin-left: 10px;
  width: 35px;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 5px;
}
button svg{
    width: 20px;
    align-self: center;
}


/* The dots/bullets/indicators */
.dot-align{
  position: relative;
  top: 33%;
}
.dot {
    position: relative;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #5a5a5a;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }